
.logo {
    width: 85px;
    height: 85px;
    margin-right: 20px;
    border-radius: 50%;
}

.slide {
    margin-top: 2px;
    margin-bottom: 6px;
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    margin-left: 5%;
    margin-right: 5%;
}

.bgInicio {
    background: #cf5692;
    &.dark {
		background: rgb(40, 39, 39);
	}
}

